{{#each this}}
<div class="country">
    <h1 class="country__name">{{name}}</h1>
    <p class="country__capital">Capital: {{capital}}</p>
    <p class="country__population">Population: {{population}}</p>
    <ul class="country__language">languages: 
        {{#each languages}}
        <li class="country__language-item"> {{this.name}}</li>
    {{/each}}
    </ul>
   
    <img class="country__flag" src ="{{flag}}" alt="{{name}}" width = '450'></img>
</div>
{{/each}}